Repository shipengqi/devops-learn, changes with the labels that .github/labeler.yml gives for each.
All labels: cloud, linux, cicd, k8s

deploy: e25f444d043aed717112d63988aa1a46909fbd8f
  docs/index.xml
  docs/linux/06_mem/index.html
  docs/linux/07_disk/index.html
  docs/linux/10_nfs/index.html
  docs/linux/firewall/02_firewalld/index.html
  docs/linux/firewall/index.xml
  docs/linux/index.xml
  docs/terraform/demo.mf
  en.search-data.json
  index.html
Labels: none

docs(linux): complete text operation commands
  content/_index.md
  content/docs/cloud/_index.md
  content/docs/linux/03_text_operation.md
  content/docs/linux/04_find.md
  content/docs/linux/10_nfs.md
  content/docs/linux/11_perms.md
  content/docs/linux/12_systemctl.md
  content/docs/linux/13_sar.md
  content/docs/linux/14_dns.md
  content/docs/linux/15_selinux.md
  data/icons.yaml
Labels: cloud, linux

docs(linux): chars
  content/docs/linux/04_find.md
  content/docs/linux/05_cpu.md
  content/docs/linux/06_mem.md
  content/docs/linux/07_disk.md
  content/docs/linux/08_net.md
Labels: linux

docs(linux): complete some commands usage
  content/_index.md
  content/docs/cloud/ali/01_ecs.md
  content/docs/sre/_index.md
  content/docs/terraform/_index.md
  data/icons.yaml
Labels: cicd

Merge pull request #6 from shipengqi/docs/linux-completion
  content/_index.md
  content/docs/cloud/_index.md
  content/docs/cloud/ali/01_ecs.md
  content/docs/linux/03_text_operation.md
  content/docs/linux/04_find.md
  content/docs/linux/05_cpu.md
  content/docs/linux/06_mem.md
  content/docs/linux/07_disk.md
  content/docs/linux/08_net.md
  content/docs/linux/10_nfs.md
  content/docs/linux/11_perms.md
  content/docs/linux/12_systemctl.md
  content/docs/linux/13_sar.md
  content/docs/linux/14_dns.md
  content/docs/linux/15_selinux.md
  content/docs/sre/_index.md
  content/docs/terraform/_index.md
  data/icons.yaml
Labels: cloud, linux, cicd

Update copyright year and name in LICENSE file
  LICENSE
Labels: none

Update editURL base URL in hugo.yaml
  hugo.yaml
Labels: none

.github/labeler.yml:

# Works with https://github.com/actions/labeler/
# Below this line, the keys are labels to be applied, and the values are the file globs to match against.

cloud:
  - changed-files:
      - any-glob-to-any-file: content/docs/cloud/*

linux:
  - changed-files:
      - any-glob-to-any-file: content/docs/linux/*

cicd:
  - changed-files:
      - any-glob-to-any-file: ["content/docs/jenkins/*", "content/docs/terraform/*"]

k8s:
  - changed-files:
      - any-glob-to-any-file: content/docs/kubernetes/*
